<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to 'Currencies Quotation', main_app.root_path , class: "navbar-brand col-sm-3 col-md-2 mr-0", data: { turbolinks: false } %>
  <ul class="navbar-nav px-6">
  <% if current_user.present? %>
    <li class="nav-item text-nowrap">
    <%= link_to "Edit Profile", edit_user_path(current_user.id, :class => 'nav-link') %>
    </li>
    <li class="nav-item text-nowrap">
    <%= link_to :logout, method: :post , :class => 'nav-link btn btn-transparent ml-2' do %>
        <i class="fas fa-power-off"></i>
      <% end %>
    </li>
  <% else %>
    <li class="nav-item text-nowrap">
    <%= link_to "Register", new_user_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item text-nowrap">
    <%= link_to :login, :class => 'nav-link' do %>
      <i class="fas fa-lock"></i> Login
    <% end %>
    </li>
  <% end %>
  </ul>
</nav>
