<style>
.pagination{
  margin-top: 20px;
}
.pagination a, .pagination span, .pagination em {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<%= link_to 'New Quotation', new_quotation_path %>


<table>
  <thead>
    <tr>
      <th>Interval</th>
      <th>Currency</th>
      <th>Bid value</th>
      <th>Ask value</th>
      <th>Max bid</th>
      <th>Min bid</th>
      <th>Variation bid</th>
      <th>Open bid value</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.interval %></td>
        <td><%= quotation.currency&.code %></td>
        <td><%= quotation.bid_value %></td>
        <td><%= quotation.ask_value %></td>
        <td><%= quotation.max_bid %></td>
        <td><%= quotation.min_bid %></td>
        <td><%= quotation.variation_bid %></td>
        <td><%= quotation.open_bid_value %></td>
        <td><%= quotation.date %></td>
        <td><%= link_to 'Show', quotation %></td>
        <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @quotations  %>
<br>